<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h1><%=detail.title%></h1>
    <ul>
        <li><%=detail.description%></li>
        <li>&#x20b9;<%=detail.price.toLocaleString("en-IN")%></li>
        <li><%=detail.location%></li>
        <li><%=detail.country%></li>
        <a href="/listing/<%=detail._id%>/edit">Edit the listing</a>
        <br><br>
        <form method="POST" action="/listing/<%=detail._id%>?_method=DELETE">
            <button>Delete this listing</button>
        </form>
    </ul>
</body>
</html>